<header>
  <h1>{{title}}</h1>
</header>
<div class="search_input">
  <input placeholder="Search..." type="text">
</div>
<div class="content_wrapper">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
  aliqua. Nunc consequat interdum varius sit amet mattis vulputate enim nulla. Diam ut venenatis tellus in metus
  vulputate eu. Aliquam ultrices sagittis orci a scelerisque purus semper eget. Pellentesque habitant morbi tristique
  senectus et netus et malesuada. Arcu dictum varius duis at consectetur. At varius vel pharetra vel turpis nunc eget.
  In mollis nunc sed id semper. Amet volutpat consequat mauris nunc congue nisi vitae suscipit tellus. Cursus vitae
  congue mauris rhoncus aenean. Ullamcorper velit sed ullamcorper morbi. Pellentesque dignissim enim sit amet venenatis.
  Eu nisl nunc mi ipsum. Dui accumsan sit amet nulla facilisi morbi tempus iaculis.</p>

  <p>Eu consequat ac felis donec et odio. Hendrerit gravida rutrum quisque non. Ultricies lacus sed turpis tincidunt id
  aliquet. Convallis tellus id interdum velit. Lectus urna duis convallis convallis tellus id. A lacus vestibulum sed
  arcu. Ac odio tempor orci dapibus. Commodo ullamcorper a lacus vestibulum sed arcu. Suscipit adipiscing bibendum est
  ultricies integer. Sed libero enim sed faucibus turpis in eu mi. Sed augue lacus viverra vitae congue. At in tellus
  integer feugiat scelerisque varius morbi enim nunc. Nunc sed augue lacus viverra vitae congue. Ut lectus arcu bibendum
  at varius vel pharetra vel turpis. Interdum consectetur libero id faucibus. Praesent tristique magna sit amet. Leo vel
  orci porta non pulvinar neque.</p>

  <p>At auctor urna nunc id cursus. Duis convallis convallis tellus id interdum velit laoreet id. Ac tortor dignissim
  convallis aenean et tortor. Ipsum a arcu cursus vitae. Tortor consequat id porta nibh venenatis cras sed. Dignissim
  diam quis enim lobortis scelerisque fermentum dui. Cum sociis natoque penatibus et. Aliquet enim tortor at auctor
  urna. Purus viverra accumsan in nisl nisi scelerisque. Viverra nam libero justo laoreet sit amet cursus sit. Ornare
  aenean euismod elementum nisi quis eleifend quam adipiscing vitae. Semper auctor neque vitae tempus quam pellentesque
  nec nam aliquam. Maecenas volutpat blandit aliquam etiam erat. Aliquam sem et tortor consequat id porta nibh venenatis
  cras. Vel elit scelerisque mauris pellentesque pulvinar pellentesque.</p>

  <p>Egestas diam in arcu cursus euismod quis viverra. Amet tellus cras adipiscing enim. Ut ornare lectus sit amet est
  placerat in. Massa placerat duis ultricies lacus sed turpis tincidunt. Fames ac turpis egestas sed tempus urna et
  pharetra. Augue lacus viverra vitae congue eu consequat ac felis. Nunc sed augue lacus viverra vitae congue eu
  consequat ac. A erat nam at lectus urna duis convallis convallis tellus. Risus nec feugiat in fermentum posuere urna.
  Integer eget aliquet nibh praesent tristique. Faucibus pulvinar elementum integer enim neque volutpat ac tincidunt. In
  dictum non consectetur a erat nam. Dis parturient montes nascetur ridiculus mus mauris vitae.</p>

  <p>Massa vitae tortor condimentum lacinia quis. Mauris pharetra et ultrices neque ornare. Eget nullam non nisi est sit
  amet. Tortor at auctor urna nunc. Non curabitur gravida arcu ac tortor. Sagittis vitae et leo duis ut diam. A
  pellentesque sit amet porttitor eget dolor morbi non. Praesent tristique magna sit amet purus. Varius morbi enim nunc
  faucibus. Aliquam sem et tortor consequat id porta nibh venenatis. Condimentum lacinia quis vel eros donec ac odio
  tempor. Vitae proin sagittis nisl rhoncus mattis rhoncus. Pellentesque dignissim enim sit amet. Ac auctor augue mauris
  augue neque gravida. Integer eget aliquet nibh praesent tristique magna sit amet purus. Leo integer malesuada nunc
  vel.</p>

  <p>Molestie a iaculis at erat pellentesque adipiscing commodo. Lacus viverra vitae congue eu consequat. Et netus et
  malesuada fames ac turpis egestas sed. Tristique magna sit amet purus gravida quis blandit turpis cursus. Proin
  sagittis nisl rhoncus mattis rhoncus urna neque viverra. Sed nisi lacus sed viverra tellus in hac habitasse. Mi quis
  hendrerit dolor magna eget est lorem ipsum dolor. Viverra justo nec ultrices dui sapien eget mi proin sed. Cursus in
  hac habitasse platea dictumst quisque sagittis. Hendrerit dolor magna eget est lorem. Mauris ultrices eros in cursus
  turpis.</p>

  <p>Ultricies mi quis hendrerit dolor magna eget. Eu volutpat odio facilisis mauris sit amet massa. Mi ipsum faucibus
  vitae aliquet nec ullamcorper sit amet risus. Sed cras ornare arcu dui. Dictumst vestibulum rhoncus est pellentesque
  elit ullamcorper. Cursus turpis massa tincidunt dui ut ornare lectus sit. Proin sagittis nisl rhoncus mattis rhoncus
  urna. Dolor purus non enim praesent elementum facilisis. At volutpat diam ut venenatis tellus in metus. Id neque
  aliquam vestibulum morbi blandit cursus risus at. Nibh nisl condimentum id venenatis a condimentum. Morbi non arcu
  risus quis. Pretium lectus quam id leo in vitae turpis massa sed.</p>

  <p>Dignissim diam quis enim lobortis scelerisque fermentum dui. Tempus iaculis urna id volutpat lacus laoreet. Praesent
  elementum facilisis leo vel fringilla est. Accumsan lacus vel facilisis volutpat est velit egestas dui id. Amet luctus
  venenatis lectus magna fringilla urna porttitor rhoncus. Vitae semper quis lectus nulla. Facilisis sed odio morbi quis
  commodo odio aenean sed. Faucibus et molestie ac feugiat. Amet mauris commodo quis imperdiet massa tincidunt nunc
  pulvinar. Erat imperdiet sed euismod nisi porta. Etiam sit amet nisl purus in mollis nunc. Ullamcorper a lacus
  vestibulum sed arcu. Tempus imperdiet nulla malesuada pellentesque elit eget gravida cum. Aenean pharetra magna ac
  placerat. Vel turpis nunc eget lorem. Nibh nisl condimentum id venenatis a. Magnis dis parturient montes nascetur
  ridiculus mus mauris vitae. Sed odio morbi quis commodo odio aenean. Malesuada fames ac turpis egestas maecenas
  pharetra convallis. Sagittis orci a scelerisque purus semper eget.</p>

  <p>Faucibus pulvinar elementum integer enim neque volutpat ac. Aenean euismod elementum nisi quis eleifend quam
  adipiscing vitae. Nulla posuere sollicitudin aliquam ultrices sagittis orci. Diam donec adipiscing tristique risus nec
  feugiat in. Vestibulum morbi blandit cursus risus at ultrices mi. Aliquet nec ullamcorper sit amet risus nullam. In
  nulla posuere sollicitudin aliquam ultrices sagittis. Odio pellentesque diam volutpat commodo sed egestas egestas
  fringilla phasellus. Amet mattis vulputate enim nulla aliquet. Sed arcu non odio euismod lacinia at quis. Accumsan sit
  amet nulla facilisi morbi tempus iaculis urna. Nibh cras pulvinar mattis nunc sed. Odio eu feugiat pretium nibh. Morbi
  tempus iaculis urna id volutpat lacus laoreet. Facilisis gravida neque convallis a. Sollicitudin nibh sit amet commodo
  nulla. Facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum dui. Tempus imperdiet nulla malesuada
  pellentesque.</p>

  <p>Vel pharetra vel turpis nunc. Ultrices in iaculis nunc sed augue lacus viverra. Egestas sed tempus urna et pharetra.
  Nulla facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum. Nulla pellentesque dignissim enim sit
  amet. Sit amet consectetur adipiscing elit pellentesque habitant morbi. Aliquet bibendum enim facilisis gravida neque
  convallis a. Amet consectetur adipiscing elit duis tristique sollicitudin nibh sit amet. Metus dictum at tempor
  commodo ullamcorper a. Integer malesuada nunc vel risus. Non blandit massa enim nec dui.</p>
</div>
